form.addForm .col-md-4 {
    width: 32%;
    display: inline-block;
}
button.btn.addNew {
    border-radius: 50%;
    padding: 7px 13px;
    margin: 0px;
}
.addForm input[type=file]{
	opacity: 1;
	position: inherit;
	padding: 7px;
}
div#showLyrics, #showChords {
    padding: 40px;
    text-align: center;
    opacity: 0;
}
.btn-primary{
    background-color: #2ca8ff !important;
}
.btn:hover {
    background: white !important;
    color: #2ca8ff;
    border: 1px solid #2ca8ff;
    box-shadow: 3px 3px 5px #2ca8ff;
    transform: scale(1.1);
}
.btn {
    border: 1px solid #2ca8ff;
    border-radius: 0px;
    box-shadow: 3px 3px 5px #a1a1a1;
    padding: 6px 20px;
    transition: .3s all cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.no-button {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 40px;
    display: inline-block;
    border: none;
    background: none;
}
.btn-o {
    border: 1px solid #2ca8ff;
    background: white;
    padding: 4px 16px;
    transition: .3s all cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.btn-o:hover {
    border: 1px solid #2ca8ff;
    background: #2ca8ff;
    box-shadow: 3px 3px 5px #2ca8ff;
}
.dataTables_wrapper {
    padding: 20px !important;
}

@media screen and (max-width: 426px){
    .card-title {
        margin-top: 0px;
        font-size: 16px;
    }
}